.page {
  position: relative;

  color: #ffffff;
  background-color: #2a2c2f;

  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

/* Alternative PerfectPixel */

.page::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;

  width: 100%;
  height: 100%;

  content: "";

  opacity: 0.5;
  filter: invert();
  background-image: url(../../vendor/layouts/320.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .page::before {
    background-image: url(../../vendor/layouts/768.png);
  }
}

@media screen and (min-width: 1024px) {
  .page::before {
    background-image: url(../../vendor/layouts/1024.png);
  }
}

@media screen and (min-width: 1280px) {
  .page::before {
    background-image: url(../../vendor/layouts/1280.png);
  }
}
