@font-face {
  font-family: "Inter";
  src: local("Inter-Regular"), url(../../fonts/Inter-Regular.woff2) format("woff2"),
    url(../../fonts/Inter-Regular.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: local("Inter-Black"), url(../../fonts/Inter-Black.woff2) format("woff2"),
    url(../../fonts/Inter-Black.woff) format("woff");
  font-weight: 900;
}

.index-page {
  min-width: 320px;
  max-width: 425px; /* Проверить и скорректировать, если надо*/
  margin: 0 auto;
  padding: 0 16px;

  color: #ffffff;

  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  background-color: #2a2c2f;
}
