.index-page {
  position: relative;

  box-sizing: border-box;
  min-width: 320px;
  height: 100%;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .index-page {
    padding: 28px 0;
  }
}
