.content__intro {
  box-sizing: border-box;
  width: auto;
  margin: 0 16px;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .content__intro {
    align-self: flex-start;

    width: 100%;
    max-width: 720px;
    margin: 0 24px;
    margin-top: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .content__intro {
    max-width: 928px;
    margin: 0 auto;
    margin-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .content__intro {
    max-width: 984px;
  }
}
