.cover {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.cover::before {
  grid-column: 1/-1;
  grid-row: 1/-1;

  width: 100%;
  padding-top: calc((10 / 16) * 100%);

  content: '';

  background-image: url(../../images/cover/cover_xs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) {
  .cover::before {
    background-image: url(../../images/cover/cover_s.jpg);
  }
}

@media screen and (min-width: 768px) {
  .cover::before {
    background-image: url(../../images/cover/cover_m.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .cover::before {
    background-image: url(../../images/cover/cover_l.jpg);
  }
}
