.cover {
  position: relative;
  z-index: 1;

  display: block;

  width: auto;
  padding: 33px 0;

  background-image: url(../../../images/cover/cover_xs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
