.cover__background {
  grid-column: 1/-1;
  grid-row: 1/-1;

  width: 100%;
  padding-top: calc((10 / 16) * 100%);

  background-image: url(../../../images/cover/cover_xs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .cover__background {
    background-image: url(../../../images/cover/cover_s.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .cover__background {
    background-image: url(../../../images/cover/cover_m.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .covercover__background {
    background-image: url(../../../images/cover/cover_l.jpg);
  }
}
