.footer__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .footer__list {
    justify-content: space-between;
    flex-direction: row;

    min-width: 465px;
  }
}
